h1 {
    text-align: center;
    font-size: 75px;
}
.contact {
    padding: 4rem;
}
.contact-box{
    background-color: rgba(145, 69, 25, 0.55);
    z-index: 1;
    border-radius: 20px;
    padding-top: 10px;
    justify-content: center;
}
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
}
@media only screen and (max-width: 1024px) {
    .contact {
        padding: 0rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}